*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, inter;
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
html{
    height: -webkit-fill-available;
    min-height: 100%;
    overflow: hidden;
}

body{
   color: white;
   font-family: sans-serif;
    background: #000000;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: auto;
    touch-action: pan-y;
}

button{
    background-color: transparent;
    font-size: 1rem;
}
img{
    width: 100%;
}
.hoverable{
    transition: transform 0.3s ease;
    cursor: pointer;
    transform:  translate3d(0,0,0);
}
.hoverable:hover{
    transform: scale(1.1);
}

.glassCard{
    background: rgba(40, 40, 40, 0.45);
    border: 1px solid rgba(113, 113, 113, 0.38);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
}

/* START imageViewer */

#imageViewerCard{
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    height: 100svh;
    display: flex;
    flex-direction: column-reverse;
}
#imageViewerCard > .subSectionTitleContainer{
    margin: 0;
}

#imageViewerCard.projectCard{
    padding: 20px 15px 10px;
}

.closeBtn{
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: rgb(161, 79, 79);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.prev{
    margin-left: auto;
}

.pictureController{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0;
    justify-content: center;
}

.circle{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    
}

.circle.circleSelected{
   background-color: white;
}

.pictureContainer{
    background-position: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
}

/* END imageViewer */

/* START Background Animation */
@keyframes movingGradiant{

    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
/* END Background Animation */

.wrapper{
    max-width: 360px;
    margin:0 auto;
}
/* START INFOWIDGET */

.infoWidget{
    margin-top: 40px;
    padding: 40px 30px 20px;
    position: relative;
    background: rgba(40, 40, 40, 0.45);
    border: 1px solid rgba(113, 113, 113, 0.38);
    backdrop-filter: blur(38px); 
    -webkit-backdrop-filter: blur(38px);
    border-radius: 15px;
}

.infoWidget::after{
    content: '';
    background-color: #673AB7;
    background: linear-gradient(#673AB7 , #3988b6);
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    right: 0;
    z-index: -1;
    filter: blur(50px);
}
.infoWidget::before{
    content: '';
    background-color: #673AB7;
    background: linear-gradient( #3988b6, #673AB7);
    width: 300px;
    height: 150px;
    position: absolute;
    bottom:-20px;
    left: -40px;
    z-index: -1;
    filter: blur(50px);
}

.infoWidget > .infoSection{
    display: flex;
    justify-content: space-between;
}
    /* start PICTURE section LEFT */
.infoWidget > .infoSection > img.profilePicture{
    width: 130px;
    border-radius: 15px;
    object-fit: cover;
}
    /* end PICTURE section LEFT */

    /* start personal details section RIGTH */
.infoWidget > .infoSection > .personDetails{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.infoWidget > .infoSection > .personDetails > .name{
    font-size: 1.4rem;
    font-weight: 600;
}

.infoWidget > .infoSection > .personDetails > .description{
    font-size : 0.80rem;
    padding: 10px 0;
    line-height: 18px;
}

.infoWidget > .infoSection > .personDetails > .logosContainer{
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.infoWidget > .infoSection > .personDetails > .logosContainer > img{
    width: 40px;
    height: 40px;
}
    /* end personal details section RIGTH */
    /* start Reosurces section */
.infoWidget > .resources{
    padding: 30px 35px;
    max-width: 400px;
        margin: 0 auto;
}

.infoWidget .button{
    display: flex;
    border-radius: 15px;
    color:white;
    font-size: 0.90rem;
    align-items: center;
    text-align: center;
    margin-top:20px;
}

.infoWidget > .resources #pensum{
    background: linear-gradient(90deg, #39B698 0%, rgba(23, 149, 220, 0.64) 100%);
}

.infoWidget > .resources #cv{
    background: linear-gradient(90deg, rgba(15, 166, 253, 0.64) 0%, #752291 100%);

}
.infoWidget > .resources > .button > img{
    width: 40px;
    margin-left:-10px;
}
.infoWidget > .resources > .button > span{
    width: 100%;
}
    /* end Reosurces section */

    /* start Social section */
.infoWidget > .social {
    display: flex;
    justify-content: space-evenly;
}
.infoWidget > .social > a > img{
    width: 40px;
}
.infoWidget > .social > a {
    font-size: 1.4rem;
}
    /* end Social section */

/* END - INFOWIDGET */

/* START - SKILLS */

.skills{
    margin-top:80px;
}

.sectionTitleContainer{
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.sectionTitleContainer > .iconTitle{
    width: 45px;
}
.sectionTitleContainer > .sectionTittle{
   font-size: 1.6rem;
   margin-left: 10px;

}
/* END - SKILLS */
.item{
    padding-left: 20px;
    width: 90%;
    margin:0 auto;
    margin-top:10px;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(40, 40, 40, 0.45);
    border: 1px solid rgba(113, 113, 113, 0.38);
    border-radius: 15px;
}
.item > img{
    width: 35px;
}
.item > h3{
    width: 35px;
    margin-left:15px;
    font-size: 1.3rem;
    width: 100%;
    font-weight: 100;

}

/* START - LEARNING */

.learning{
    margin-top:50px;
}  
/* END - LEARNING */

/* START - ROADMAP */
.roadMap{
    margin-top:80px;
}

article.roadMap > section.sectionTitleContainer{
    flex-direction: column;
}

.roadMap > .sectionTitleContainer > .iconTitle{
    width: 100px;
}
.roadMap > .itemMaster .subSectionTitleContainer > img{
    width: 60px;
}

.itemMaster{
    width: 90%;
    margin:0 auto;
    margin-top:10px;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    background: rgba(40, 40, 40, 0.45);
    border: 1px solid rgba(113, 113, 113, 0.38);
    border-radius: 15px;
    margin-bottom:50px;
}

.subSectionTitleContainer{
    display: flex;
    align-items: center;
    margin-bottom:20px;
    width: 100%;
}

/* END - ROADMAP */


/* START Project Cards */

.projectCard {
    padding: 20px 15px;
}

.projectCard .subSectionTitleContainer{
    gap:10px;
}
.projectCard .subSectionTitleContainer .projectLogo{
    width: 40px;
}
.projectCard .subSectionTitleContainer .projectName{
    font-weight: 300;
    font-size: 1.4rem;
}
.projectCard .subSectionTitleContainer .projectButton{
    padding:10px;
    border-radius: 10px;
    color:white;    
    background: linear-gradient(45deg, #673ab7 , #8054cd );
}

.projectCard > .subSectionTitleContainer .projectButton > img{
   width: 30px;  
}

.projectCard > .subSectionTitleContainer .code{
   margin-left: auto;
}

.projectCard .projectSkillsContainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projectCard .projectSkillsContainer > .item {

    flex-basis: content;
    padding:10px 30px 10px 10px;
    margin: 0 10px 10px 0;
    gap: 10px;
}

.projectCard .projectSkillsContainer > .item > img{
    width: 25px;
} 

.projectCard .projectSkillsContainer > .item > h3{
    font-size: 1rem;
    margin-left: 0;
} 

.projectCard .projectDescription > p {
    font-size: 1rem;
    font-weight: 200;
    padding:15px 5px 30px;
}


.projectCard .screenshotsContainer{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 5px;
}

section.infoWidget.projectCard .screenshotsContainer .bothVertical{
    width: 50%;

}



.projectCard .screenshotsContainer > .horizontalScreenShot {
    width: 70%;
}
.projectCard .screenshotsContainer > .verticalScreenShot {
    width: 30%;
   
}

/* END Project Cards */





/*================ START TABLET/ LOW DPI DESKTOP VIEW=================== */

@media screen and (min-width: 600px){

    /* global styling */

    html{
        height: 100%;
        overflow: hidden;
    }

    body{
        height: 100%;
    }

    /* global Styling */


    .wrapper{
        max-width: 700px;
        margin:0 auto;
    }
    .infoWidget{
        padding: 30px 30px 37px;
    }
    .infoWidget::before{
        width: 407px;
        height: 235px;
        bottom: -20px;
        left: -40px;
        filter: blur(90px);
    }
    .infoWidget::after{
        width: 365px;
        height: 274px;
        filter: blur(90px);
        
    }

    .infoWidget > .subSectionTitleContainer{
        margin-bottom:40px;
    }

    .infoWidget > .infoSection {
        max-width: 530px;
        margin: 0 auto;
    }
    .infoWidget > .infoSection > img.profilePicture {
        width: 230px;
    }
    .infoWidget > .infoSection > .personDetails{
        width: 255px;
    }
    .infoWidget > .infoSection > .personDetails > .name {
        font-size: 2.4rem;
    }
    .infoWidget > .infoSection > .personDetails > .description {
        font-size: 1.0rem;
        font-weight: 200;
        line-height: 23px;
    }
    .infoWidget > .infoSection > .personDetails > .logosContainer > img {
        width: 60px;
        height: 60px;
    }
    .infoWidget > .resources > .button > span {
        font-size: 1rem;
    }
    .itemMaster{
        padding-bottom: 50px;
    }
}





/*================ END TABLET/ LOW DPI DESKTOP VIEW=================== */