*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: -apple-system, inter;
    /* border: 1px solid red; */
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}

html{
    /* background: var(--main-backgroundGradient); */
    /* height: 100svh; */
}
body{
    /* height: 100svh; */
    /* background: var(--main-backgroundGradient); */
    background-color:var(--main-ligthBackground);
    color: var(--main-textColor-black);
}
button{
    border:none
}

/* vars */

:root{
    --main-backgroundGradient: linear-gradient(120deg, #43C3DF 0.33%, #B61CCF 99.57%);
    /* --main-backgroundGradient: linear-gradient(180deg, #43C3DF 0.33%, #B61CCF 99.57%); */
    /* --main-backgroundGradient: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%); */
    --main-ligthBackground: rgb(246, 246, 246);
    --main-darkBackground: rgb(25, 25, 25);

    /* Font sizes */
    --main-windowTitle-fontsize: 40px;
    --main-windowTitle-fontWeight: 900;
    --main-textColor-black: #4d4d4d;
    --main-windowTitle-color:white;
    --main-menuBarItem-fontSize: 14px;
    --main-menuBarItem-fontWeigth: 700;

    --main-widgetTitle-fontSize: 40px;
    --main-widgetSubtitle-fontSize: 20px;
    --main-widgetTitle-fontWeight: 900;
    --main-widgetSubtitle-fontWeight:900;
    --main-widgetTitle-color: #9D9D9D;
    --main-widgetSubtitle-color:  #505050;
    --main-widgetText-color: white;
    --main-widgetButton-backgroundColor:#ffffff35;
    --main-widgetButton-dropShadow:0px 5px 0px rgba(0, 0, 0, 0.40);

    --main-statusBarColor: white;
    --main-statusBarTextColor: #2a2a2a;


    --main-categoryDetailsFontSize: 24px;
    --main-categoryDetailsFontWeight: 600;
    --main-categoryDetailsPaddingRight:40px;

    --main-expenseColor:#D75948;
    --main-expenseColorShadow:#a24235;
    --main-expenseColorLight:#F5D1D1;
    --main-incomeColor:#7ABD50;
    --main-incomeColorShadow:#598b3a;
    --main-incomeColorLight:#DFF5D1;
    --main-saveColor:#439DDF;
    --main-saveColorShadow:#3174A5;


    --main-btnFontSize:18px;
    --main-btnFontWeight:700;


    --main-categoryTitleFontSize:30px;
    --main-categoryTitleFontWeight:700;
}  

/* end vars */


/* START App Structure */

.contentWrapper{
    max-width: 95%;
    margin: 0 auto;
}

.appWrapper{
    height: 100%;
    display:flex;
    flex-direction: column;
    position:relative;
}

.heroHeader{
    /* min-height: 150px; */
    background: var(--main-backgroundGradient);
    padding-inline: 20px;
}
.content{
    padding: 20px;
    padding-bottom:65px;
    background-color: var(--main-ligthBackground);
}
.appMenu{
    display: flex;
    position:fixed;
    bottom: 0;
    min-height: 65px;
    width: 100%;
    background-color: #f8f8f8;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--main-backgroundGradient);
    border-left:0;
    border-right: 0;
    border-bottom:0;
}
/* END App Structure */

.menuSection{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.menuItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 60px;
}

.menuItem .menuItemIcon{
    width: 30px;
}

.menuItem .menuItemLabel{
    font-size: var(--main-menuBarItem-fontSize);
    font-weight: var(--main-menuBarItem-fontWeigth);
}

.userDetails.mergedStatusBar{
    padding:0;
    margin:0;
    background-color: var(--main-statusBarColor);
    transform: scaleX(105.5%);
    padding-bottom: 5px;
}

.mergedStatusBar > span{
    color: var(--main-statusBarTextColor);
}

.mergedStatusBar > img{
    width: 25px;
    height: 25px;
    margin-right:18px;
}

.userDetails{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-top:15px;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 12px;
}

.userDetails .userProfilePicture{
    border-radius: 50%;
    max-height: 35px;
    max-width: 35px;
    aspect-ratio: 1;
    object-fit: cover;
}

.userDetails .username{
    font-size: 16px;
    font-weight: bold;
}

.mainTitle{
    font-size: var(--main-windowTitle-fontsize);
    font-weight: var(--main-windowTitle-fontWeight);
    color: var(--main-windowTitle-color);
    padding:20px 0;
}

.dropDown{
    border:1px solid #ffffff;
    background-color: #ffffff35;
    display: flex;
    border-radius: 20px;
    height: 55px;
    /* margin-bottom:80px; */
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.40);
    align-items: center;
    gap:10px;
    padding:20px;
    padding-right: 30px;
    cursor: pointer;
}

.dropDown > img{
    width: 33px;
}

.dropDown .defaultItem { 
    color:white;
    font-weight: 800;
    font-size:25px;
    margin-right: auto;
}

.arrow{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid rgb(255, 255, 255);
}

.categoryDetails{
    
}
.categoryDetails .categoryDetailsTopBar{
    display: flex;
}
h3.categoryTitle{
    padding:5px 0;
}
.categoryTitle{
    margin-right: auto;
    padding: 5px 10px;
    padding-right: var(--main-categoryDetailsPaddingRight);
    font-weight:var(--main-categoryDetailsFontWeight);
    font-size: var(--main-categoryDetailsFontSize);
} 

.btn{
    display: flex;
    align-items: center;
    flex-basis: 80px;
    padding: 0 10px;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    gap:5px;
}
.btn > img{
    width: 25px;
    object-fit: cover;
}
.btn.edit{
    background-color: #DBA566;
    border-bottom: 5px solid #9B7141;
    font-size: var(--main-btnFontSize);
    font-weight: var(--main-btnFontWeight);
}

.categoryDetailsContent{
    padding:20px 0;
    border-bottom: 1px solid #E3E3E3;
}

.categoryDetailsContent .categoryTitleContainer{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.categoryDetailsContent .categoryTitleContainer .categoryTitle{
    margin-right: auto;
    font-size: var(--main-categoryTitleFontSize);
    font-weight: var(--main-categoryTitleFontWeight);
}

.categoryDetailsContent .categoryTitleContainer .categoryTotalAmount{
    color:#717171;
    font-size: 24px;
    font-weight: 800;
}

.categoryDetailsContent .categoryDetailsItem{
    display: flex;
    padding: 5px 0 0 0;
    align-items: center;
}

.categoryDetailsContent .categoryDetailsItemTitle{
    font-weight: 600;
    font-size: 18px;
}

.categoryDetailsContent .categoryDetailsItemDate{
    font-size: 12px;
    padding: 0 5px;
    font-weight: 400;

}

.categoryDetailsContent .categoryDetailsItemAmount{
    margin-left: auto;
    color:#717171;
    font-weight: 800;
    min-width: fit-content;
    padding-left: 10px;
}

.categoryButtonContainer{
    display: flex;
    gap:20px;
    margin-bottom:30px;
}

.buttonTitle{
   margin:20px 0 15px;
}

.categoryButton{
    font-size: var(--main-btnFontSize);
    font-weight: var(--main-btnFontWeight);
    flex-basis:180px;
}

.btn.categoryButton > img{
    width: 40px;
}

.expenseColor{
    color:white;
    background-color: var(--main-expenseColor);
}
.btn.expenseColor{
    background-color: transparent;
    color: var(--main-expenseColor);
    border:1px solid var(--main-expenseColor);
    font-weight: 400;
}
.btn.incomeColor{
    background-color: transparent;
    color: var(--main-incomeColor);
    border:1px solid var(--main-incomeColor);
    font-weight: 400;
}
.expenseColor.selected,
.incomesColor.selected{
    color:white;
    background-color: var(--main-expenseColor);
}

.incomeColor{
    background-color: var(--main-incomeColor);
    color:white;
}

.progressBarContainer{
    margin-top:20px;
}

.progressBarTitle{
    font-size: 12px;
    justify-content: start;
    align-items: center;
    display: flex;
    gap:5px;
    margin-bottom: 5px;
}
.progressBarTitle > span{
    background-color: #c9c9c9;
    border-radius: 15px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    
}
.progressBar{
    border:1px solid #c9c9c9;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.progressBar .innerBar{
    width: 60%;
    height: 100%;

}

.addIncomeExpenseTitleContainer{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding:0 20px;
}

.addIncomeExpenseTitleContainer > img{
    width: 40px;

}
.addIncomeExpenseTitle{
    font-size: var(--main-categoryDetailsFontSize);
    font-weight: var(--main-categoryDetailsFontWeight);
}

.expenseIncomeForm{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.defaultForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}


.expenseIncomeLabel{
    font-size: 16px;
    font-weight:bolder;
}
.defaultLabel{
    font-size: 16px;
    font-weight:bolder;
}
.expenseIncomeInput{
    border:1px solid gray;
    border-radius: 0;
    padding: 7px;
    font-size: 14px;
}
.defaultInput{
    border:1px solid gray;
    border-radius: 0;
    padding: 7px;
    font-size: 14px;
}

.inputDate{
    width: 100%;
    background-color: white;
    color:gray;
}

.addIncome{
    background-color: var(--main-incomeColor);
    border-bottom: 5px solid var(--main-incomeColorShadow);
}
.addExpense{
    background-color: var(--main-expenseColor);
    border-bottom: 5px solid var(--main-expenseColorShadow);
}
.expenseIncomeButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:white;
    font-size: 14px;
    font-weight: bold;
    gap:10px;
    padding:5px;
    margin-top:30px;
}
.expenseIncomeButton>img{
    width: 40px;
}

.manageCategoryWidget{
    display: flex;
    flex-direction: column;
    padding-bottom:30px;
}
.widgetButtonMain.widgetButton{
    font-size: var(--main-categoryDetailsFontSize);
    padding:20px;
}


/* START Forms style */
.formTitleContainer{
    border:2px dashed rgb(227, 227, 227);
    display: flex;
    align-items: center;
    padding:12px;
    gap:20px;
}
.subtext{
    font-size: 20px;
    font-weight: 600;
}
.formTitleContainer > img{
    width: 40px;
}
.formTitle{
    font-size: var(--main-categoryDetailsFontSize);
    font-weight: var(--main-categoryDetailsFontWeight);
}

.saveButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--main-saveColor);
    border-bottom: 5px solid var(--main-saveColorShadow);
    color:white;
    font-size: 14px;
    font-weight: bold;
    gap:10px;
    padding:5px;
    max-width: 55px;
    margin-left:auto;
}

.iconBox{
    /* border:1px solid red; */
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(55px, 1fr) );
    gap:15px;

}
.iconBox > img{
    width: 70px;
    padding:10px;
}
.iconBox > img.selected{
    border:2px solid gray;
    border-radius: 5px;

}

/* END Forms style */


/* Widgets */

    .summaryWidget{
        background-color: white;
        height: 200px;
        width: 180px;
        border-radius:15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .summaryWidget .widgetIconSection{
        /* background-color: #B61CCF; */
        max-height: 20px;
        width: 100%;
    }

    .summaryWidget .widgetIconSection .widgetIcon{
        width: 60px;
        margin:0 auto;
        display: block;
        margin-top: -30px;
    }

    .summaryWidget .widgetContent{
        display: flex;
        flex-direction: column;
        /* border:1px solid red; */
        margin-top:35px;
        height: calc(100% - 25px);
        text-align: center;
    }
    .summaryWidget .widgetTitle{
        font-size: var(--main-widgetTitle-fontSize);
        font-weight: var(--main-widgetTitle-fontWeight);
        color:var(--main-widgetTitle-color);  
    }
    .summaryWidget .widgetSubtitle{
        font-size: var(--main-widgetSubtitle-fontSize);
        font-weight: var(--main-widgetSubtitle-fontWeight);
        color:var(--main-widgetSubtitle-color);
        padding-top:10px;
    }

    .summaryWidget .dataDisplayContainer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: auto;
        margin-bottom:15px
    }

    .summaryWidget .dataDisplay{
        width: 80%;
        margin:0 auto;
        border-radius: 4px;
        padding:5px;
    }

    .summaryWidget .incomeSection{
        background-color: #DFF5D1;
    }

    .summaryWidget .expenseSection{
        background-color: #F5D1D1;
    }


    /* start income resume widget */


    .totalWidget{
        display: flex;
        flex-direction: column ;
        border-radius: 20px;
        padding: 0 13px 15px;
        /* padding:20px;
        padding-top:0;
        padding-bottom:15px; */
        align-items: center;
        flex-basis: 150px;
    }

    .totalIncomeWidget{
        /* border:1px solid red; */
        background-color: #7ABD50;
        color:white;
    }

    .totalExpenseWidget{
        background-color: #D75948;
        color: white;
    }

    .totalWidget > img{
        margin-top:-30px;
        width: 80px;
        
    }

    .totalWidget .widgetTitle{
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        padding: 0 10px 10px 10px;
    }
    .totalWidget .widgetAmount{
      
        background-color: white;
        padding:7px 18px;
        margin-top:5px;
        border-radius: 15px;
        font-weight: 700;
        font-size: 16px;
        margin-top:auto;
        width:100%;
    }

    .totalIncomeWidget .widgetAmount{
        color: #7ABD50;
    }
    .totalExpenseWidget .widgetAmount{
        color: #D75948;
    }

    /* end income resume widget */

    /* create category widget */
    .createNewCategoryWidget{
        /* border:1px solid red; */
        text-align: center;
        padding:40px 0 20px;
        color:var(--main-widgetText-color);
        
    }
    
    .widgetButton{
        border-radius: 15px;
        margin:12px;
        padding:10px 30px;
        background-color: var(--main-widgetButton-backgroundColor);
        color:white;
        box-shadow: var(--main-widgetButton-dropShadow);
        font-size: 14px;
        font-weight: var(--main-btnFontWeight);

    }

/* end widgets */

.widgetContainer{
    display: flex;
    justify-content:center;
    transform: translateY(20px);
    gap: 20px;
    padding-top:30px;
}



@media (min-width:530px){
    .contentWrapper{
        max-width: 530px;
    }
}
